.Hero {
  min-height: 10em;
  background: #11143dbb;
  background: -moz-linear-gradient(45deg, #11143dbb 0%, #2c2072bb 100%);
  background: -webkit-linear-gradient(45deg, #11143dbb 0%, #2c2072bb 100%);
  background: linear-gradient(45deg, #11143dbb 0%, #2c2072bb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#11143dbb', endColorstr='#2c2072bb', GradientType=1);
  border-radius: 0.1em 1.5em;
  padding: 0.7em 0.7em;

  .container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 1em 1em;
  }

  .Tagline {
    flex: 2;
  }

  .Social {
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1em;

    a {
      display: flex;
      align-items: center;
      gap: 0.2em;
    }

    .social-icon {
      height: 1.2em;
    }

  }
}

.social-item:hover {
  img {
    filter: brightness(200%) saturate(150%) hue-rotate(-40deg);
  }
}

@media (max-width: 780px) {
  .Hero {
    padding: 0px;

    h1 {
      font-size: x-large;
    }
  }
  .Tagline {
    .highlight {
      font-size: xx-large;
    }
  }
  .container {
    padding: 0;
    flex-direction: column;
    .Social {
      flex-direction: row;
    }
  }

}