@use 'variables.scss' as v;

@font-face {
  font-family: "Orbitron";
  src: url('./assets/OrbitronMedium.ttf');
  font-weight: normal;
}

@font-face {
  font-family: "Orbitron";
  src: url('./assets/OrbitronBold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: "Prototype";
  src: url('./assets/Prototype.ttf');
}

@font-face {
  font-family: "Xolonium";
  src: url('./assets/XoloniumRegular.otf');
}


body {
  margin: 0;
  background-image: url('./assets/kova-web-bkg.svg');
  width: 100vw;
  height: 100vh;
  color: v.$yellow-1;
  font-family: 'Xolonium', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0%;
}

ul {
  margin: 0%;
  padding: 0%;
}

a {
  color: v.$violet-1;
  text-decoration: none;
}

button {
  font-family: 'Xolonium', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:hover {
  color: adjust-color($color: v.$violet-1, $hue: -30%, $lightness: 20%, $saturation: 50%);
}